
@keyframes bg-slide {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bg-slide-hover {
  background: linear-gradient(to right, #3b82f6, #14b8a6);
  background-size: 200% 100%;
  transition: background-position 0.8s ease-in-out;
}

.bg-slide-hover:hover {
  animation: bg-slide 0.8s ease-in-out forwards;
}

.distribute_home_bg {
  background-image: url("./img/distribute2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.zoom-container {
  overflow: hidden;
  border-radius: 1.5rem; 
}

.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-container:hover .zoom-image {
  transform: scale(1.1);
}


